
/* Vendors */

@import "~components/fonts";
@import "~vendors/bootstrap/bootstrap";
@import "~vendors/locomotive";


@import "~blocks/block-products-list";
@import "~blocks/block-hero-scroll";
@import "~blocks/block-about-us";
@import "~blocks/block-contact-us";
@import "~blocks/block-scroll-animation";
@import "~components/header";
@import "~components/footer";
@import "~components/single-product";
@import "~components/shop";
@import "~components/blog";
@import "~components/account";
@import '~swiper/swiper-bundle.css';

// input:-webkit-autofill {
//     background-color: transparent !important;
//     color: white !important;
//     -webkit-box-shadow: 0 0 0 1000px rgba(180, 42, 42, 0.074) inset !important;
//     box-shadow: 0 0 0 1000px rgba(155, 74, 74, 0.171) inset !important;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus, 
// input:-webkit-autofill:active{
//     -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.06) inset !important;
// }


//postcard flex column


.postcard-display-flex-column{
    display: flex !important;
    flex-direction: column !important;
}

.wpcf7-form-control:-webkit-autofill,
.wpcf7-form-control:-webkit-autofill:hover, 
.wpcf7-form-control:-webkit-autofill:focus, 
.wpcf7-form-control:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    font-size: 16px   !important;
}




.woocommerce-Input:-webkit-autofill,
.woocommerce-Input:-webkit-autofill:hover, 
.woocommerce-Input:-webkit-autofill:focus, 
.woocommerce-Input:-webkit-autofill:active{
    -webkit-background-clip: text;
    // -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
    font-size: 16px   !important;
}

//cart font sizes

.main-header .checkout-info__top span:first-child{
    font-size: 16px !important;
}

.main-header .checkout-info__top span:last-child {
    font-size: 16px !important;
}


.offcanvas-header{
    padding: 1rem 10px !important;
}

// form response output margin


.wpcf7-response-output{
    margin: 0 !important;
}

.site-header {
    background-color: #fff;
}

.footer__top{
    font-family: NbAkademieBook !important;
}

.footer__top--title{
    font-family: NbAkademieBook !important;
}

.wpcf7-form-control::placeholder{
    color: #726465 !important ;
    
   
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

a {
    text-decoration: none;
    color:#2c2d33; 

    &:hover {
        color:#2c2d33; 
    }
}


.account button[type=submit]:hover{
    background-color: #CCBAC1;
}


.show-password-input::after {
    font-family: "NBAkademieRegular";
    font-size: 12px;
    font-weight: 400;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 12px;
    content: "SHOW" ;
}


.woocommerce-password-strength::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "";
    margin-left: .5407911001em;
}


.icon-width-style{
    width: 14px;
}


.products-last-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-for-mobile-screen{
    display: none;
}


.product__info--title{
    text-transform: uppercase;
    letter-spacing: 0 !important;
}




@media screen and (max-width:960px) {
    .product__info--title{
        font-size: 0.5rem !important;
        line-height: 0.5rem !important;
       
    }
    
    .product__info--right{
        display: flex;
        margin-right: 0 !important;
    }


    .product__info--colors{
        margin-top: 0 !important;
    }
}

@media screen and (max-width:1200px) {

    .img-1{
        display: none;
    }

    .img-2{
        display: none;
    }

    .shop-our-products{
        gap: 0.2rem;
    }

    .account__login{
        margin-top: 0 !important;
    }

    // .entry-title{
    //     display: none;
    // }

    .woocommerce-ResetPassword{
        margin: 15px;
    }

    // .woocommerce-form-row{
    //     display: flex;
    // }

    .product-single__desc{
        font-size: 22px;
        line-height: 26px;
    }

    .title-and-price{
        display: flex;
        justify-content: space-between;
    }

    .price-for-mobile-screen{
        display: flex;
        font-size: 12px;
        line-height: 20px;
    }


    .product-single__attr--price{
        display: none;
    }

    .product-single__sticky{
        height: unset;
    }

    .product-single__attr--color{
        gap: 9px;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .product-single__attr--size{
        flex-direction: column;
        gap: 0;
    }

    .product-single__attr--weight{
        flex-direction: column;
        gap: 9px;
    }

    .grid-text{
        // display: none !important;
    }
    
    .product-single__content{
        padding: 0 !important;
    }

    //product images width and height on mobile screen(search)

    .main-header .offcanvas.offcanvas-start .offcanvas-body .search-products__grid a {
        width: 113px !important;
        height: 131px !important;
    }

    .search-products__grid{
        justify-content: center !important;
    }

    //product amount in cart

    #cartCountOffcanvas{
        font-size: 1rem !important;
    }

    .checkout-info__top{
        margin-top: 20px !important;
    }

}




.subscribe-success-message {
    margin-top: 0px;
   
}




.wpcf7-response-output {
    border: none !important;
    padding: 0 !important;
}
