
/* Vendors */

@import "~components/fonts";
@import "~vendors/bootstrap/bootstrap";
@import "~vendors/locomotive";


@import "~blocks/block-products-list";
@import "~blocks/block-hero-scroll";
@import "~blocks/block-about-us";
@import "~blocks/block-contact-us";
@import "~blocks/block-scroll-animation";
@import "~components/header";
@import "~components/footer";
@import "~components/single-product";
@import "~components/shop";
@import "~components/blog";
@import "~components/account";
@import '~swiper/swiper-bundle.css';


.site-header {
    background-color: #fff;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

a {
    text-decoration: none;
    color:#2c2d33; 

    &:hover {
        color:#2c2d33; 
    }
}


.account button[type=submit]:hover{
    background-color: #CCBAC1;
}


.show-password-input::after {
    font-family: "NBAkademieRegular";
    font-size: 12px;
    font-weight: 400;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 12px;
    content: "SHOW" ;
}


.woocommerce-password-strength::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "";
    margin-left: .5407911001em;
}


.icon-width-style{
    width: 14px;
}


.products-last-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-for-mobile-screen{
    display: none;
}


@media screen and (max-width:960px) {
    .product__info--title{
        font-size: 0.5rem !important;
        line-height: 0.5rem !important;
    }
    
    .product__info--right{
        display: flex;
        margin-right: 0 !important;
    }


    .product__info--colors{
        margin-top: 0 !important;
    }
}

@media screen and (max-width:1200px) {
    .product-single__desc{
        font-size: 22px;
        line-height: 26px;
    }

    .title-and-price{
        display: flex;
        justify-content: space-between;
    }

    .price-for-mobile-screen{
        display: flex;
        font-size: 12px;
        line-height: 20px;
    }


    .product-single__attr--price{
        display: none;
    }

    .product-single__sticky{
        height: unset;
    }

    .product-single__attr--color{
        gap: 9px;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .product-single__attr--size{
        flex-direction: column;
        gap: 0;
    }

    .product-single__attr--weight{
        flex-direction: column;
        gap: 9px;
    }

    .grid-text{
        display: none !important;
    }
    
    .product-single__content{
        padding: 0 !important;
    }
}