$font-regular: "NBAkademieRegular";
$font-medium-italic: "NBAkademieMediumItalic";
$font-medium: "NBAkademieMedium";
$font-light-italic: "NBAkademieLightItalic";
$font-light: "NBAkademieLight";
$font-bold: "NBAkademieBold";
$font-bold-italic: "NBAkademieBoldItalic";



@font-face {
  font-family: "NBAkademieRegular";
  src: url("../fonts/NB Akademie Pro - Regular.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieMediumItalic";
  src: url("../fonts/NB Akademie Pro - Medium Italic.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Medium Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieMedium";
  src: url("../fonts/NB Akademie Pro - Medium.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieLightItalic";
  src: url("../fonts/NB Akademie Pro - Light Italic.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Light Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieLight";
  src: url("../fonts/NB Akademie Pro - Light.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieBold";
  src: url("../fonts/NB Akademie Pro - Bold.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NBAkademieBoldItalic";
  src: url("../fonts/NB Akademie Pro - Bold Italic.woff2") format("woff2"),
    url("../fonts/NB Akademie Pro - Bold Italic.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Bodoni";
  src: url("../fonts/BodoniFLF-Bold.woff2") format("woff2"),
    url("../fonts/BodoniFLF-Bold.ttf") format("ttf");
}

:root {
  --bs-body-font-family: 'NBAkademieRegular';
}
body {
    font-family: $font-regular !important;
}