.footer {
  background-color: #362b25;
  padding: 6.1875rem 1.875rem 1.75rem;
  margin-top: 2.5rem;
  color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2.8125rem;

    &--title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #fff;
      margin-bottom: 1.625rem;
      font-family: "NBAkademieMedium";
    }

    &--section {
      &.section-newsletter {
        max-width: 542px;
        flex-shrink: 0;
        width: 100%;
      }
    }

    &--city {
      font-family: "NBAkademieMedium";
    }

    &--city,
    &--address,
    &--phone,
    &--email {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #fff;
      &:hover {
        color: #726465;
      }
    }

    &--address {
      font-weight: 400;

      &:hover {
        color: #726465;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1.625rem;
      }

      form {
        display: flex;
        gap: 0.625rem;
        margin: 0;
        p {
          margin: 0;
          position: relative;

          &:has(input[type="email"]) {
            flex-grow: 1;

            input {
              width: 100%;
            }
          }
        }
        input {
          background-color: unset;
          padding: unset;
          box-shadow: unset;
          color: #fff;
          padding-bottom: 0.25rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;

          &[type="email"] {
            border-bottom: 0.5px solid #ffffff;
          }
          &[type="submit"] {
            background-color: unset;
            transition: all 0.3s ease-in;
            padding: 0;

            &:hover {
              border-bottom: 0.5px solid #ffffff;
            }
          }

          .wpcf7-spinner {
            position: absolute;
            right: 0;
            top: 100%;
          }

          &:focus {
            background-color: unset;
            color: #fff;
            outline: unset;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &--copy {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #726465;
    }

    &--menu {
      display: flex;
      flex-direction: column;

      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        color: #726465;

        &:hover {
          color: #FFF;
        }
      }
    }
  }

  &__left {
    max-width: 16.1875rem;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-basis: 925px;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: left;
  }

  &__credits {
    a {
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: left;
      color: rgba(204, 186, 197, 0.4);
      border-bottom: 1px solid #ccbac5;

      &:hover {
        border-bottom: 1px solid rgba(204, 186, 197, 0.4);
        color: rgba(204, 186, 197, 0.4);
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sign {
    height: 100%;

    &--top {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;

      a {
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: left;
        color: rgba(204, 186, 197, 0.4);

        &:hover {
          color: #fff;
        }
      }
    }

    &--bottom {
      a {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

        border-bottom: 1px solid #fff;

        &:hover {
          border-bottom: 1px solid rgba(204, 186, 197, 0.4);
          color: rgba(204, 186, 197, 0.4);
        }
      }
    }
  }

  &__socials {
    &--top,
    &--bottom a {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;
      color: #fff;
    }

    &--bottom {
      display: flex;
      flex-direction: column;

      a {
        &:hover {
          color: rgba(204, 186, 197, 0.4);
        }
      }
    }
  }

  &__contact {
    &--top {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: right;
    }
    &--bottom {
      display: flex;
      flex-direction: column;

      a {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(204, 186, 197, 0.4);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.masonry-layout {
  color: transparent;
  line-height: 0;
}

.shop-our-products {
  & > .texts {
    display: flex;
    align-items: center;
  }
}
