.footer {
  background-color: #362b25;
  padding: 6.1875rem 1.875rem 1.75rem;
  margin-top: 2.5rem;
  color: #fff;

  @media screen and (max-width: 960px) {
    padding: 1.25rem 0.625rem 1.75rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2.8125rem;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }

    &--title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #fff;
      margin-bottom: 1.625rem;
      font-family: "NBAkademieMedium";
    }

    &--section {
      display: block;
      @media screen and (max-width: 960px) {
        display: none;
      }
      &.section-newsletter {
        max-width: 542px;
        flex-shrink: 0;
        width: 100%;

        @media screen and (max-width: 960px) {
          order: -1;
          display: block;
        }
      }
    }

    &--city {
      font-family: "NBAkademieMedium";
    }

    &--city,
    &--address,
    &--phone,
    &--email {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #fff;
      &:hover {
        color: #726465;
      }
    }

    &--address {
      font-weight: 400;

      &:hover {
        color: #726465;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1.625rem;
      }

      form {
        display: flex;
        gap: 0.625rem;
        margin: 0;
        p {
          margin: 0;
          position: relative;

          &:has(input[type="email"]) {
            flex-grow: 1;

            input {
              width: 100%;
            }
          }
        }
        input {
          background-color: unset;
          padding: unset;
          box-shadow: unset;
          color: #fff;
          padding-bottom: 0.25rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;

          &[type="email"] {
            border-bottom: 0.5px solid #ffffff;
          }
          &[type="submit"] {
            background-color: unset;
            transition: all 0.3s ease-in;
            padding: 0;

            &:hover {
              border-bottom: 0.5px solid #ffffff;
            }
          }

          .wpcf7-spinner {
            position: absolute;
            right: 0;
            top: 100%;
          }

          &:focus {
            background-color: unset;
            color: #fff;
            outline: unset;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &--copy {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #726465;
    }

    &--menu {
      display: flex;
      flex-direction: column;

      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        color: #726465;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__left {
    max-width: 16.1875rem;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-basis: 925px;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: left;
  }

  &__credits {
    a {
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: left;
      color: rgba(204, 186, 197, 0.4);
      border-bottom: 1px solid #ccbac5;

      &:hover {
        border-bottom: 1px solid rgba(204, 186, 197, 0.4);
        color: rgba(204, 186, 197, 0.4);
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sign {
    height: 100%;

    &--top {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;

      a {
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: left;
        color: rgba(204, 186, 197, 0.4);

        &:hover {
          color: #fff;
        }
      }
    }

    &--bottom {
      a {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

        border-bottom: 1px solid #fff;

        &:hover {
          border-bottom: 1px solid rgba(204, 186, 197, 0.4);
          color: rgba(204, 186, 197, 0.4);
        }
      }
    }
  }

  &__socials {
    &--top,
    &--bottom a {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;
      color: #fff;
    }

    &--bottom {
      display: flex;
      flex-direction: column;

      a {
        &:hover {
          color: rgba(204, 186, 197, 0.4);
        }
      }
    }
  }

  &__contact {
    &--top {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: right;
    }
    &--bottom {
      display: flex;
      flex-direction: column;

      a {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(204, 186, 197, 0.4);

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-accordions {
    display: none;
    margin: 0 -0.625rem;

    @media screen and (max-width: 960px) {
      display: block;
    }
    .accordion-item {
      background-color: unset;
      border-top: 1px solid #72646580;
      border-bottom: 1px solid #72646580;
    }
    .accordion-button {
      background-color: unset;
      padding: 0.9375rem 0.625rem;
      color: #fff;
      flex-direction: row-reverse;

      &:not(.collapsed) {
        box-shadow: unset;
        border-bottom: 1px solid #72646580;

        &::before {
          transform: rotate(-180deg);
        }
      }

      &::before {
        flex-shrink: 0;
        width: 0.6875rem;
        height: 0.375rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 7L12 1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 100%;
        transition: transform 0.2s ease-in-out;
      }
    }

    .accordion-body {
      padding: 0.9375rem 1.25rem;
    }
  }
}

.masonry-layout {
  color: transparent;
  line-height: 0;
}

.shop-our-products {
  & > .texts {
    display: flex;
    align-items: center;
  }
}
