.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &.logged-in {
    top: 2rem;
  }

  & + div {
    margin-top: 7.6875rem;

    @media screen and (max-width:960px){
      margin-top: 3.5rem;
    }
  }

  &.archive-page + div {
    margin-top: 10.1875rem;
  }

  @media screen and (max-width:960px){
    &.archive-page + div {
      margin-top: 89px !important;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
    padding: 25px 1.875rem;

    @media screen and (max-width: 960px) {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__mobile-part {
    display: none;
    gap: 1.5625rem;
    align-items: center;

    .main-header__search-container {
      display: block;
    }

    &.main-header__cart {
      display: flex;

      .account-mobile {
        display: none;

        @media screen and (max-width: 960px) {
          display: flex;
        }
      }
    }

    @media screen and (max-width: 960px) {
      display: flex;
    }
  }

  &__mobile {
    display: flex;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 260px;

    &--item {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: #202020;

      @media screen and (max-width: 960px) {
        display: none;
      }
    }
  }

  &__search-container {
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  &__search {
    background-color: unset;
    padding: 0;
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__logo {
    width: 9.1875rem;

    @media screen and (max-width: 960px) {
      width: 4.5625rem;
    }
  }

  &__cart {
    &--btn {
      background-color: unset;
      padding: 0;
      color: #202020;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;

      svg {
        display: none;

        @media screen and (max-width: 960px) {
          display: inline-block;
        }
      }
      span {
        display: inline-block;

        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      &:hover {
        background-color: unset;
        color: #202020;
      }
    }
  }

  .checkout-info {
    padding: 1.2425rem 0 1.18rem;
    border-top: 1px solid #53535366;
    &__top {
      display: flex;
      justify-content: space-between;

      span {
        color: #202020;
        font-size: 1.25rem;
        line-height: 1.8375rem;

        &:first-child {
          font-weight: 400;
          text-align: left;
        }

        &:last-child {
          font-weight: 700;
          text-align: right;
        }
      }
    }
  }

  .offcanvas {
    visibility: visible;

    .offcanvas-title {
      color: #202020;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
    }

    .offcanvas-right-close {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #202020;
      background-color: unset;
      padding: unset;
    }

    &.offcanvas-start {
      width: unset;
      max-width: 30.375rem;
      width: 100%;
      height: fit-content;

      &.offcanvas-mobile {
        height: 100%;

        .offcanvas-header {
          padding: 0.9375rem 0.625rem 1.125rem;
          border-bottom: 1px solid #535353;
        }

        .offcanvas-body {
          padding: 0 0 1.25rem;

          .mobile-offcanvas {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            &__body {
              display: flex;
              flex-direction: column;

              a {
                padding: 0.9375rem 0.625rem 1.125rem;
                border-bottom: 1px solid #5353531a;
                color: #202020;
                font-size: 13px;
                font-weight: 400;
                line-height: 13px;
                text-align: left;
              }
            }

            &__footer {
              padding: 0.9375rem 0.625rem 0;
              border-top: 1px solid #5353531a;

              &--title {
                font-size: 13px;
                font-weight: 400;
                line-height: 13px;
                text-align: left;
                color: #202020;
                border: unset;
              }

              &--content {
                display: flex;
                flex-direction: column;

                a {
                  font-size: 0.8125rem;
                  font-weight: 400;
                  line-height: 1.5rem;
                }

                span {
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 16px;
                  color: #20202066;
                  margin-top: 1rem;
                  display: inline-block;
                }
              }
            }
          }
        }
      }

      .offcanvas-body {
        padding: 0.25rem 9px 0.6875rem;
        overflow: hidden;
        h4 {
          font-size: 15px;
          font-weight: 400;
          line-height: 15px;
          text-align: left;
          padding-bottom: 10.61px;
          border-bottom: 1px solid #53535333;
          margin-bottom: 0;
        }
        .woocommerce-product-search {
          form {
            margin-bottom: 9px;
          }
          label {
            padding: 11px;
            background-color: #f7f7f7;
            display: flex;
            gap: 9px;
            align-items: center;
          }

          input {
            padding: 0;
            background: unset;
            outline: unset;
            border: unset;
            box-shadow: unset;
            flex-grow: 1;

            &:focus {
              background-color: unset;
            }

            &::placeholder {
              font-size: 0.9375rem;
              font-weight: 400;
              line-height: 0.9375rem;
              color: #00000033;
            }
          }
        }
        .search-results-wrapper {
          .search-results-js {
            display: flex;
            flex-direction: column;
            height: auto;

            .suggested-item {
              font-size: 15px;
              font-weight: 700;
              line-height: 22.05px;
              text-align: left;
              color: #202020;
              padding: 7px 0;
              border-bottom: 1px solid #53535333;

              &:last-child {
                border-bottom: unset;
              }
            }
          }
        }

        .search-products {
          border-top: 1px solid #000000;
          padding-top: 0.5625rem;
          h4 {
            border-bottom: unset;
          }

          &__grid {
            display: flex;
            gap: 0.625rem;
            flex-wrap: wrap;

            a {
              width: 149px;
              height: 172px;
              img {
                width: 100%;
                height: 100%;
                border-radius: unset;
              }
            }
          }
        }
      }
    }

    &.offcanvas-end {
      width: unset;
      max-width: 30.375rem;
      width: 100%;

      .offcanvas-header {
        padding: 1.625rem 0 1.25rem;
        margin: 0 ;
        border-bottom: 1px solid #53535366;
      }

      .offcanvas-body {
        padding: 1.25rem 0.625rem 0.6875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cart-item {
          display: flex;
          gap: 0.625rem;
          padding-bottom: 1.25rem;
          border-bottom: 1px solid #53535366;
          margin-bottom: 1.04rem;

          .product-thumbnail {
            width: 149px;
            height: 171.9904px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .product-name {
            font-family: $font-bold;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.25rem;
            text-align: left;
            margin-bottom: 0.75rem;
          }

          .product-price {
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 0.9375rem;
            text-align: left;
            color: #00000066;
          }

          .product-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
          }

          .product-code {
            margin-top: 0.75rem;
            display: flex;
            gap: 2px;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 0.75rem;
            text-align: left;
            color: #00000066;
            span {
              width: 0.6875rem;
              height: 0.6875rem;
              border-radius: 50%;
              display: inline-block;
            }
          }

          .product-quantity-remove {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .product-quantity {
            display: flex;

            button {
              color: #00000066;
              background-color: unset;
              padding: unset;

              &:hover {
                background-color: unset;
              }
            }

            /* Hide the increment and decrement arrows */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            input[type="number"] {
              -moz-appearance: textfield; /* Firefox */
              width: 40px;
              text-align: center;

              color: #00000066;
              border: unset;
              background-color: unset;
              outline: unset;
              box-shadow: unset;
            }
          }

          .remove-item {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;
            color: #00000066;
            border-bottom: 1px solid #00000066;
            background-color: unset;
            padding: unset;

            &:hover {
              background-color: unset;
            }
          }
        }
      }
    }
  }
}

#nav-icon4 {
  width: 30px;
  height: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #4d3d30;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}

/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 1s ease;

  &__title {
    position: absolute;
    top: 10%;
    left: 4%;
    &-inside {
      .animate-preloader__title {
        font-size: 1.5rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(100%);
        transition: all 0.3s ease;
      }
    }
  }
}

.preloader-exit {
  transform: translateY(-100%);
}

.bloc-hero {
  width: 100%;
  min-height: 100vh;
  background: #f2eef0 !important;
  display: grid;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .bloc-hero {
    height: 300vh;
    background: #f5f4f4 !important;
  }
}
.bloc-hero .bloc-hero--desktop {
  display: grid;
  position: relative;
}
@media (min-width: 768px) {
  .bloc-hero .bloc-hero--desktop {
    width: 100%;
    margin: 0 auto;
    max-width: 86.67%;
    height: 100vh;
    display: grid;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .bloc-hero .bloc-hero--desktop {
    max-width: 94.44%;
  }
}
.bloc-hero__back {
  display: grid;
  position: relative;
  grid-row: 1;
  grid-column: 1;
}
@media (min-width: 768px) {
  .bloc-hero__back {
    display: grid;
    position: absolute;
    width: 53.9375rem;
    right: 12.0625rem;
    bottom: -12.5rem;
    z-index: 1;
  }
}
@media (min-width: 1920px) {
  .bloc-hero__back {
    width: 863px;
    right: 9.375rem;
    bottom: -9.5625rem;
  }
}
.bloc-hero__back--desktop {
  display: none;
}
@media (min-width: 768px) {
  .bloc-hero__back--desktop {
    display: grid;
  }
}
@media (min-width: 768px) {
  .bloc-hero__back--mobile {
    display: none;
  }
}
.bloc-hero__back .img__fade {
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
  opacity: 0;
}
.bloc-hero__back .img__fade.css-show {
  z-index: 1;
  opacity: 1;
}
.bloc-hero__content {
  display: grid;
  row-gap: 2.5rem;
  grid-row: 2;
  grid-column: 1;
  padding-block-end: 4.375rem;
  width: 100%;
  margin: 0 auto;
  max-width: 86.67%;
}
@media (min-width: 768px) {
  .bloc-hero__content {
    max-width: 94.44%;
  }
}
@media (min-width: 768px) {
  .bloc-hero__content {
    max-width: 100%;
    grid-row: 1;
    align-self: flex-end;
    justify-self: flex-start;
    padding-block-end: 5.125rem;
  }
}
.bloc-hero__content__description {
  z-index: 2;
}
.bloc-hero__content__description span {
  display: flex;
  align-items: baseline;
}
.bloc-hero .fake {
  height: 100vh;
}

.search-results-info {
  padding: 0 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #000;
  font-family: $font-bold;
}

.products-header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.0625rem;

  .products-count {
    color: #20202033;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
  }

  .products-grid-change {
    display: flex;
    gap: 0.875rem;

    .grid-style {
      cursor: pointer;
      &.active {
        position: relative;
        cursor: default;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0.375rem;
          height: 1px;
          background-color: black; /* Line color */
          z-index: 1; /* Ensure it appears above other content */
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .products-header {
    padding: 0 15px;
  }
}

.post-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;

  &__btn {
    padding: 0 0 0.125rem 0;
    margin-left: 1.875rem;
    background-color: unset;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    border-bottom: 0.5px solid #999999;

    &:hover {
      background-color: unset;
      color: #000;
    }
  }

  &__right {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
  }
  .form-check-label {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8375rem;
    text-align: left;
    color: #202020;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0;
  }

  .form-check {
    position: relative;
    padding-left: 0;
    margin-left: 0;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .form-check-label::before {
      content: "" !important;
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      background-color: #fff;
      border-radius: 2px;
    }
    input:checked ~ .form-check-label::before {
      content: "\2713"; /* Unicode for check mark */
      color: #fff;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
}

.card-modal {
  background-color: #00000033;

  .modal-dialog {
    max-width: 42.3125rem;
  }

  .modal-body {
    padding: 0 1.5625rem 1.0625rem;
    border: unset;
  }

  .modal-content {
    border-radius: unset;
    border: unset;
  }

  .modal-footer {
    border: unset;
    padding: 0 1.5625rem 1.5625rem;
  }
  .modal-footer-save {
    width: 100%;
    background-color: #362b25 !important; 
    padding: 0.875rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
    opacity: 1 !important;
    

    &:hover {
      opacity: 1 !important;
      background-color: #ccbac1; 
     
    }

    &[disabled]:hover {
      opacity: 1 !important;
      background-color: #ccbac1 !important;
    }
  }

  #characterCount {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 0.4375rem;
    color: #00000066;
  }

  .modal-header {
    flex-direction: column;
    gap: 0.875rem;
    border: unset;
    padding: 1.5625rem 1.5625rem 1.125rem;
    align-items: baseline;

    .modal-title {
      color: #202020;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      line-height: 29.4px;
      text-align: left;
    }

    .modal-text {
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 0.9375rem;
      text-align: left;
      color: #00000066;
      margin-bottom: 0;
    }
  }
}
