.product-single {
  &__content {
    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
      padding: 0 16px;
    }
  }
  &__hero {
    display: flex;
    gap: 7.5rem;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      gap: 1.875rem;
    }

    &--images {
      flex-basis: 50%;

      @media screen and (max-width: 1200px) {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 16px;
      }
    }

    &--img {
      height: calc(100vh - 85px);

      @media screen and (max-width: 1200px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__slider {
    display: none;
    .swiper-pagination-bullet-active {
      background: #000;
    }
    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }

  &__slide {
    width: 100% !important;
  }

  &__sticky {
    position: sticky;
    top: 6.25rem;
    max-width: 490px;
    padding-bottom: 80px;
  }

  &__desc {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.625rem;
  }

  &__attr {
    & > * {
      padding: 1.375rem;
      display: flex;
      font-weight: 500;
      font-size: 1.125rem;
      color: #8e9194;
      justify-content: space-between;
      &:not(:last-child) {
        border-bottom: 1px solid #8e91944d;
      }
      &:first-child {
        border-top: 1px solid #8e91944d;
      }
    }

    &--color {
      div:last-child {
        display: flex;
        gap: 1rem;
      }
      a {
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #8e9194;
        outline-offset: 2px;

        &.active {
          outline: 1px solid #8e91944d;
          cursor: unset;
        }
      }
    }

    &--short {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .quantity {
      display: flex;

      input {
        background-color: #e3e3e3;

        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }

        &:hover {
          background-color: silver;
          color: #000;
        }

        &.input-text {
          box-shadow: none;
        }
      }
    }

    .add-to-cart-single {
      padding: 18px 46px;
      background-color: #e3e3e3;
      border-radius: 10px;
      color: #000;
      flex-grow: 1;
      &:hover {
        background-color: silver;
      }
    }
  }
}
